<h1>Info sobre mí...</h1>
<p>Soy <strong>Desareca</strong>, me gusta aprender sobre tecnología, sobre todo IA</p>
<p>Intento crear un chatbot que hable conmigo, pero aún sólo me dice incoherencias...</p>