<div class="jumbotron p-3">
    <h1 class='mb-1'>Quién soy?</h1>
    <p>Soy un aficionado a la tecnología (entre varias otras cosas), en mi tiempo libre me dedico a estudiar y realizar algunos proyectos.</p>

    <p>El tipo de proyectos al que me he dedicado principalmente es de data science con R, aunque este último tiempo he comenzado a interesarme por desarrollo web con RoR</p>

    <p>Mi repo en Github:</p>

    <a class='a-github' href="https://github.com/desareca/">
        <div class="card mb-3" style="max-width: 400px;">
            <div class="row g-0">
                <div class="col-md-4 my-auto">
                    <img src='https://avatars.githubusercontent.com/u/43764566?v=4' alt="logo github" class='img-fluid rounded-start'>
                </div>
                <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">Desareca</h5>
                    <p class="card-text">Repositorio</p>
                    <p class="card-text"><small class="text-muted">Proyectos desarrollo web y análisis de datos</small></p>
                </div>
                </div>
            </div>
        </div>    
    </a>

    <p>Además, me dedico a veces a pintar/dibujar con acuarela y/o puntillismo. Mis dibujos a veces parecen ser un <i>extraños</i>, pero reflejan mi estado de animo en esos momentos.</p>
    <a class='a-github' href="https://www.instagram.com/desareca/">
        <div class="card mb-3" style="max-width: 400px;">
            <div class="row g-0">
                <div class="col-md-4 my-auto">
                    <img src=<%=asset_path('logo_inst.jpg')%> alt="logo instagram" class='img-fluid rounded-start'>
                </div>
                <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">Desareca</h5>
                    <p class="card-text">Pintura y dibujo en acuarela</p>
                    <p class="card-text"><small class="text-muted">Estilo abstracto</small></p>
                </div>
                </div>
            </div>
        </div>    
    </a>

</div>
