<div class="jumbotron p-3">
    <h1 class='mb-1'>Bienvenido a Desarecarest</h1>
    <p>Esta aplicación es una combinación(copia básica) de Pinterest e Instagram, tiene como objetivo practicar desarrollo de aplicaciones con RoR y está basado en el libro <b><i>Learn Ruby on Rails For Web Development</i></b> de <b><i>John Elder</i></b> (<b><i>First Edition</i></b>)</p>
    <p>Pasos para utilizar la aplicación:</p>
    <ul>
        <li>Pinche una imagen y podrá verla más grande y su descripción</li>
        <li>Si quiere subir una imagen debe registrarse</li>
        <li>Luego podrá subir imágenes con una descripción</li>
        <li>También podrá editar su usuario y las imágenes que ha subido</li>
    </ul>
    <p>El código completo de esta aplicación se encuentra en:</p>

    <a class='a-github' href="https://github.com/desareca/pinterested/">
        <div class="card mb-3" style="max-width: 400px;">
            <div class="row g-0">
                <div class="col-md-4 my-auto">
                    <img src='https://avatars.githubusercontent.com/u/43764566?v=4' alt="logo github" class='img-fluid rounded-start'>
                </div>
                <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">Desareca</h5>
                    <p class="card-text">Pinterested</p>
                    <p class="card-text"><small class="text-muted">Paso a paso del desarrollo del proyecto</small></p>
                </div>
                </div>
            </div>
        </div>    
    </a>
</div>
