// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";
.navbar {
    background-color: $bg-color;
}

.cont-nav p {
    background-color: 'transparent' !important;
    color: $gray !important;
}

.navbar-brand {
    max-width: 100px;
    height: auto;
    min-width: 70px;
}